CI_ENVIRONMENT = development

app.baseURL = 'http://localhost:8081/'

database.default.hostname = localhost
database.default.database = db_kampus
database.default.username = root
database.default.password =
database.default.DBDriver = MySQLi
database.default.port = 3306
